body, html {
  height: 100%;
  /* scroll-behavior: smooth; */
}

.bg {
  /* The image used */
  background-image: url('/static/img/background.png');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.6;
  filter: blur(1px); */
}

.bg-text {
  /* Full height */
  height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2em;
  /* Set the fixed height of the footer here */
  line-height: 1.5em;
  /* Vertically center the text there */
  /* background-color: #f5f5f5; */
}

hr {
  width: 50%;
  margin: auto;
}

.table td {
  text-align: center;
  vertical-align: middle;
}

.table tr {
  text-align: center;
  vertical-align: middle;
}

/* bootstrap modifications */
/* .container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
} */

.extra-bottom {
  padding-bottom: 2em;
}

.task {
  width: 50%;
}

.task-id {
  width: 10%;
}

.status {
  width: 20%;
}

.update {
  width: 10%;
}

a, a:hover { color: #1450A8;}

/* Map map */
#mapCanvas img {
  max-width: none;
}

.leaflet-google-layer{
    z-index: 0 !important;
}

.leaflet-map-pane{
    z-index: 100;
}

.info {
  font-family: 'Lato', sans-serif;
  padding: 6px 8px;
  background: #ffffff;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.results-count {
  font-family: 'Lato', sans-serif;
  padding: 6px 8px;
  background: #ffffff;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.filter-box { 
  margin-top: 5px;
  height: 15px; 
  width: 15px;  
  display: inline-block;
  *border-right-width: 4px;
  *border-bottom-width: 4px;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box; 
}




.popup-overlay {
  /*Hides pop-up when there is no "active" class*/
  visibility: hidden;
  position: absolute;
  background: #ffffff;
  border: 3px solid #6b6c6d;
  width: 50%;
  height: 30%;
  left: 25%;
  box-sizing: content-box;
  transform: translateY(0);
  opacity: 1;
  
}


.filter-yellow { background-color: #FFCC0D; }
.filter-green { background-color: #10AC03; }
.filter-blue { background-color: #1653A8; }
.filter-purple { background-color: #6614AC; }
.filter-red { background-color: #CC2537; }
.filter-orange { background-color: #CD8518; }
.filter-grey { background-color: #7B7B7B; }
