<tr>                  
    <td>
        <%= obj["CityName"] %>
    </td>                  
    <td>
        <%= obj["SafetyRating"] %>
    </td> 
    <td>
        <%= obj["AdministrationRating"] %>
    </td>                 
    <td>
        <%= obj["DeathsToCasesRation"] %>
    </td>
</tr>