<!DOCTYPE html>

<html>
    <head>
        <title>Covid Vaccine Tracker</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="{{ url_for('static', filename='img/vaccine.ico') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/custom.css') }}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

        <!-- Styles -->
        <!-- Bootstrap cssS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}"></link>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap-reboot.min.css') }}"></link>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/custom.css') }}"></link>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{{ url_for('static', filename='script/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='script/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='script/bootstrap.min.js') }}"></script>

        <script src="{{ url_for('static', filename='script/ejs.min.js') }}"></script>
        <script src="{{ url_for('static', filename='script/jquery.address.js') }}"></script>
        <script src="{{ url_for('static', filename='script/jquery.csv.min.js') }}"></script>
        <script src="{{ url_for('static', filename='script/moment.js') }}"></script>
        <script src="{{ url_for('static', filename='script/geojson.min.js') }}"></script>
        <script src="{{ url_for('static', filename='script/csv-to-geojson.js') }}"></script>

        <!-- Leaflet and Google -->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/leaflet.css') }}"></link>
        <script src="{{ url_for('static', filename='script/leaflet.js') }}"></script>
        <script src="{{ url_for('static', filename='script/turf.min.js') }}"></script>
        <script src="https://maps.google.com/maps/api/js?libraries=places&key=AIzaSyBIfeeAdo_WhXbdH4_i1UdpzuLQHvLUtcM"></script>
        <script src="{{ url_for('static', filename='script/Leaflet.GoogleMutant.js') }}"></script>
        <script src="{{ url_for('static', filename='script/leaflet-color-markers.js') }}"></script>
        
        <!-- Custom JavaScript -->
        <script src="{{ url_for('static', filename='script/searchable_map_lib.js') }}"></script>
        <script src="{{ url_for('static', filename='script/analytics_lib.js') }}"></script>

        <!-- Modal -->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    </head>

    <body>
        <div class="bg d-flex align-items-center justify-content-center">
            <div>
                <div class="row">
                  <div class="col d-flex justify-content-center text-center mb-4">
                    <h1 >VACCINE TRACKER</h1>
                  </div>
                  <div class="w-100"></div>
                  <a class="ct-btn-scroll ct-js-btn-scroll" href="#resource-finder" style="text-decoration:none">
                    <div class="col d-flex justify-content-center text-center">
                      
                      <button id="safety"type="button" class="btn btn-info"> 
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                          </svg>
                          Check out safety ratings by city
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                          </svg>
                      </button>
                    </div>
                </a>
                </div>
            </div>
        </div>

        <a id="resource-finder"></a>
        <div class="col d-flex justify-content-center text-center mb-4">
          <h1 style="margin-bottom: -30px;margin-top: 20px;"></header>Safety Ratings by City</h1>
        </div>

        <main role="main" class="container-fluid">

          <div class='row'>
            
            <div class="col-md-4">
    
              <div class="card bg-white border-0">
                <div class="card-body">
                  <div style="display: none;">
                    <div class='row'>
                      <div class="col-md-8">
                        <div class="form-group">
                            Near an address
                            <input class='form-control' id='search-address' placeholder='Enter an address' type='text'>
                        </div>
                      </div>
      
                      <div class="col-md-4">
                        <div class='form-group'>
                            Within
                            <select id='search-radius' class='form-control'>
                              <option value='400'>2 blocks</option>
                              <option value='805'>1/2 mile</option>
                              <option value='1610'>1 mile</option>
                              <option value='3220'>2 miles</option>
                              <option value='8050'>5 miles</option>
                            </select>
                        </div>
                      </div>
                    </div>
      
                    <div class='row'>
                      <div class="col-md-12">
                        <div class="form-group">
                            Search by name
                            <input class='form-control' id='search-name' placeholder='Enter a business or organization name' type='text'>
                        </div>
                      </div>
                    </div>
      
                    <button class='btn btn-primary' id="btnSearch"><i class='fa fa-search'></i> Search</button>
                    <a href="/" class='btn btn-secondary' id="btnReset" title="Reset"><i class="fa fa-repeat" aria-hidden="true"></i> Reset</a>
                  
                  </div>

                  <button class='btn btn-dark'  id='btnAboutMode' onclick="document.getElementById('id02').style.display='block'" class="w3-button w3-black"><i class="fa fa-info-circle"></i> About </button>
                  <button class='btn btn-dark'  id='btnRatingMode' onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black"> <i class="fa fa-info-circle"></i> Rating Info </button>
                  <button class='btn btn-dark' id='btnViewMode' title='Change view'><i class='fa fa-list'></i> List view</button>
        
                  </div>
                </div>
              </div>
              
              <!--Creates the popup body-->
              <div id="id02" class="w3-modal" style= "z-index: 10000;">
                <div class="w3-modal-content">
                  <header class="w3-container w3-light-blue"> 
                    <span onclick="document.getElementById('id02').style.display='none'" 
                    class="w3-button w3-display-topright">&times;</span>
                    <h2>About</h2>
                  </header>
                  <div class="w3-container" style=" margin-top:10px;">
                    <p>The purpose of the safety rating and other classifications is to provide a statistical visualization for US cities' ongoing vaccination process for COVID-19. These calculations provide an insight to how protected a city is from COVID-19. Click on Rating Info to learn more about each numerical classification.</p>
                   
                  </div>
                  <footer class="w3-container w3-light-blue">
                    <p></p>
                  </footer>
                </div>
              </div>
            </div>

              <div id="id01" class="w3-modal" style= "z-index: 10000;">
                <div class="w3-modal-content">
                  <header class="w3-container w3-light-blue"> 
                    <span onclick="document.getElementById('id01').style.display='none'" 
                    class="w3-button w3-display-topright">&times;</span>
                    <h2>Rating Information</h2>
                  </header>
                  <div class="w3-container" style=" margin-top:10px;">
                    <p><b>Safety Rating: </b>The safety rating for each city represents how protected a city is from COVID-19 based on the percentage of people that have been vaccinated so far. It is calculated by the number of people vaccinated divided by the total population of that city. A safety rating of 5 is given to cities with a high percentage of people vaccinated. A rating of 1 means that not many vaccines have been administered to the city's population yet. </p>
                    <p><b>Administration Rating: </b>The administration rating represents the percentage rate at which vaccines are being administered. It is calculated by the number of people vaccinated over the number of total vaccines delivered for a city so far.</p>
                    <p><b>Deaths to Cases Ratio: </b>The deaths to cases ratio is the total number of deaths per the total number of cases in a city so far.</p>
                  </div>
                  <footer class="w3-container w3-light-blue">
                    <p></p>
                  </footer>
                </div>
              </div>
            </div>

              <div>
                <div id='mapCanvas' style="display: block; height: 1000px; margin-bottom: 78px;"></div>
                <div id="listCanvas" style="display: none">
                  <h2 class='list-header hidden-xs'>Search results <small id='list-result-count'></small></h2>
                  
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">City Name</th>
                          <th scope="col">Safety Rating</th>
                          <th scope="col">Administration Rate</th>
                          <th scope="col">Deaths to Cases Ratio</th>
                        </tr>
                      </thead>
                      <tbody id='results-list'></tbody>
                    </table>
                  </div>
                </div>
                <!-- <p class='float-right'>Based on <a href='https://github.com/datamade/searchable-map-template-csv' target='_blank'>Searchable Map Template - CSV</a> by <a href='https://derekeder.com/' target='_blank'>Derek Eder</a> and <a href='https://datamade.us/' target='_blank'>DataMade</a></p> -->
              </div>
            </div>
            
            <!-- <div class="modal fade" id="modal-pop" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-body">
                    <div class="container-fluid bd-example-row">
                      <div class="row">
                        <div class="col-md-12">
                          <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle" aria-hidden="true"></i></span></button>
                          <div id="modal-main"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
    
            <script src="{{ url_for('static', filename='script/map.js') }}"></script>
    
        </main>
        
        <!-- <div id='ratings'>
    <div class="container table-responsive">          
      <table class="table">
          <thead>
          <tr>
              <th class="city-id">City ID</th>
              <th class="city-name">City Name</th>
              <th class="safety-rating">Safety Rating</th>
              <th class="administration-rating">Administration Rate (total vaccines/total delivered percentage)</th>
              <th class="deaths-to-cases-ratio">Deaths to Cases Ratio (num deaths/num cases)</th>
          </tr>
          </thead>
  
          <tbody>
          {% for item in items %}
              <tr>
                  <td>{{item.city_id}}</td>
                  <td>{{item.city_name}}</td>
                  <td>{{item.safety_rating}}</td>
                  <td>{{item.AdministrationRating}}</td>
                  <td>{{item.DeathToCasesRatio}}</td>

                  
                  <td><button type="button" class="btn btn-outline-info btn-sm edit" data-bs-toggle="modal" data-bs-target="#cases-modal2" data-source="{{item.city_id}}" data-content="{{item.date}}"><i class="fa fa-pen fa-1" aria-hidden="true"></i></button></td>
  
                  <td><button class="btn btn-outline-secondary btn-sm remove" data-source="{{item.city_id}}" data-content="{{item.date}}" type="button"><i class="fa fa-trash fa-1" aria-hidden="true"></i></button></td> -->
              <!-- </tr> -->
          <!-- {% endfor %}
          
          </tbody>
      </table>
        </div>
        </div>  -->
        
        <div id="id03" class="w3-modal" style= "z-index: 10000;">
          <div class="w3-modal-content">
            <header class="w3-container w3-light-blue"> 
              <span onclick="document.getElementById('id03').style.display='none'"
              class="w3-button w3-display-topright">&times;</span>
              <h2>Please Enter Admin Password</h2>
            </header>
                <div class="w3-container" style="margin-top:20px;">
                        <label>Enter your passcode</label>
                        <input type="password" name="password" maxlength="8" class="span7" id="password" placeholder="e.g. abcd1234" required/>
                </div>  

                <div class="w3-container" style="margin-top:10px;">
                  <button type="button" class="btn btn-info" style="margin-bottom:20px;" onclick="onSubmit()">
                    Continue to Admin Privileges
                  </button>
                </div>     
            <footer class="w3-container w3-light-blue">
              <p></p>
            </footer>
          </div>
        </div>

        

        <!-- KEEP below -->
        <section class="">
            <!-- Footer -->
            <footer class="text-center text-white" style="background-color: rgba(169,223,245,255);">
              <!-- Grid container -->
              <div class="container p-4 pb-0">
                <!-- Section: CTA -->
                <section class="">
                  <p class="d-flex justify-content-center align-items-center">
                    <span class="me-3">Need admin privileges?</span>
                    <!-- <a href="cases"> -->
                        <button type="button" class="btn btn-outline-light btn-rounded" onclick="document.getElementById('id03').style.display='block'" onclick="onSubmit()">
                            Admin view!
                        </button>
                    <!-- </a> -->
                  </p>
                </section>
                <!-- Section: CTA -->
              </div>

              <script type="text/javascript">
                function onSubmit() {
                     if (document.getElementById('password').value == 'cs411') {window.location.href = "cases"; }else{ alert('Please check your passcode and try again');}
                }
              </script>

            
              </div>
              
              
              <!-- Grid container -->
          
              <!-- Copyright -->
              <div class="text-center p-3" style="background-color: rgba(151,190,239,255);">
                © 2021 The Real Housewives of CS411
              </div>
              <!-- Copyright -->
            </footer>
            <!-- Footer -->
        </section>

        

    </body>

</html>
